<div class="page-header header-filter " data-parallax="true"
 style="background-image: 
 url('../../../assets/img/kit/inventory.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="brand">
                    <h1>Minified Inventory 
                        <span class="pro-badge">
                            Pro
                        </span>
                    </h1>
                    <h3 class="title">
                         Minified Inventory is an inventory Management System.
                    </h3>
                </div>
                <a  routerLink="/auth/" class="btn  btn-rose   btn-round btn-block">
                    <i class="material-icons">arrow_right</i> Proceed
                  </a>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <a class="footer-brand" href="https//:github.com/femithz">Femithz</a>
        <ul class="pull-center">
            <li>
              
            </li>
            <li>
                <a href="#creative">
                    Designed for Task Reasons...
                </a>
            </li>
        </ul>
   
    </div>
</footer>