<nav class="navbar navbar-color-on-scroll navbar-transparent    fixed-top  navbar-expand-lg " color-on-scroll="100" id="sectionsNav">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" style="color: #172556;" >
            Minified Inventory </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto" style="color: #172556;">
          <li class="dropdown nav-item">
            <a routerLink="users" class="dropdown-toggle nav-link" style="color: #172556;" >
              <i class="material-icons">face</i> Users
            </a>
          </li>
          <li class="dropdown nav-item">
            <a routerLink="orders" class="dropdown-toggle nav-link" style="color: #172556;" >
              <i class="material-icons">view_day</i> Orders
            </a>
          </li>
          <li class="dropdown nav-item">
            <a routerLink="items" class="dropdown-toggle nav-link"  style="color: #172556;">
              <i class="material-icons">view_carousel</i> Items
            </a>
          
          </li>
        </ul>
      </div>
    </div>
  </nav>

<div id="main" >  
    <router-outlet></router-outlet>
  </div>
  <!-- <footer class="footer">
    <div class="container">
        <a class="footer-brand" href="https//:github.com/femithz">Femithz</a>
        <ul class="pull-center">
            <li>
              
            </li>
            <li>
                <a href="#creative">
                    Designed for Task Reasons...
                </a>
            </li>
        </ul>
   
    </div>
</footer> -->